.modal-open {
    overflow: scroll;
}

/** FORM UPLOAD */
.bootstrap-filestyle input[type="text"] {

    background-color: #F00;
    display: none !important;

}

.group-span-filestyle {
    width: 100%;
}

/** VIEW FILES */
.view-files {

    height: 500px;
}

.nav-link-pill {

    background: #f4f8fb !important;

}


.grid-divider {
    overflow-x: hidden;
    position: relative;
}

.grid-divider > [class*="col-"]:nth-child(n + 2):after {
    content: "";
    background-color: rgba(0, 0, 0, 0.09);
    position: absolute;
    top: 0;
    bottom: 0;
}

@media (max-width: 767px) {
    .grid-divider > [class*="col-"]:nth-child(n + 2):after {
        width: 100%;
        height: 1px;
        left: 0;
        top: -4px;
    }
}

@media (min-width: 768px) {
    .grid-divider > [class*="col-"]:nth-child(n + 2):after {
        width: 1px;
        height: auto;
        left: -1px;
    }
}

.display-none {

    display: none;

}

.bg-gray {

    background-color: #f4f8fb !important;

}

.custom-switch .custom-control-label { cursor: pointer; }
.custom-switch .custom-control-label::before { cursor: pointer; }
.custom-switch .custom-control-label::after { cursor: pointer; }
.custom-switch .custom-control-input:disabled ~ .custom-control-label::before { cursor: not-allowed; }
.custom-switch .custom-control-input:disabled ~ .custom-control-label::after { cursor: not-allowed; }

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#canvas {
    
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #000;
    width: 100%;
    height: 100%;

    opacity: 0.3;
    -moz-opacity: 0.3;
    filter: alpha(opacity=30);    
}

.tooltip{
    z-index: 99999999999;
}

.hidden{
    display: none !important;
}

.text-decoration-line-through{
    text-decoration: line-through
}

div.table-mini-container {
    /*overflow: auto;*/
    min-width: 100px;
}

table.table-mini {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.85rem;
}

/* table.table-mini th, table.table-mini td {
    border: 1px solid #ddd;
    padding: 0.1rem;
}

table.table-mini thead, table.table-mini tfoot {
    background-color: #f5f5f5;
} */

table.table-mini > tbody > tr > td:first-child,
table.table-mini > tbody > tr > th:first-child,
table.table-mini > thead > tr > th:first-child,
table.table-mini > thead > tr > td:first-child,
table.table-mini > tfoot > tr > td:first-child,
table.table-mini > tfoot > tr > th:first-child {
    text-align: center;
    /* background-color: #f5f5f5; */
}

table.table-mini > tbody > tr > td:not(:first-child) {
    min-width: 15px;
}
.sidebar-custom-color {
    background-color: #343C40 !important;
    background-image: none !important;
}
