RewriteEngine on
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
DirectoryIndex index.php

#Determina o timezone
php_value date.timezone "America/Sao_Paulo"

#Redirecionamento
RewriteRule ^home$ index.php