<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
		
        <rewrite>
            <rules>
                <rule name="Home">
                    <match url="^home$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="first-access">
                    <match url="^first-access$" />
                    <action type="Rewrite" url="index.php?first-access=S" />
                </rule>
            </rules>
        </rewrite>		
    </system.webServer>
</configuration>
